<template>
  <div>
    <TitleComponent />
    <InstructionsBlurb />

    <ul v-show="!state.editingMode" class="w-full block">
      <li
        class="w-full block mt-4"
        v-for="{name, email, channel ,address ,postal ,city ,province, id} in state.usersFormatted"
        :key="id"
      >
        <div>
          {{ name }}
          <a href="#" class="text-teal-800" @click.prevent="editUser(id)">✎ edit</a>
        </div>
        <div>{{ email }}</div>
        <hr class="mt-4" />
      </li>
    </ul>
    <UserInfoForm v-bind:user-id="state.editingId" v-show="state.editingMode" />
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import { Observer } from 'mobx-vue'
// import ViewModel from '../view-model'
import { sharedState } from '../view-model'
import MyComponent from '~/components/MyComponent'
import UserInfoForm from '~/components/UserInfoForm'
import InstructionsBlurb from '~/components/InstructionsBlurb'
import TitleComponent from '~/components/TitleComponent'

@Observer
@Component({
  components: {
    UserInfoForm,
    InstructionsBlurb,
    TitleComponent
  }
})
export default class App extends Vue {
  state = sharedState // new ViewModel()

  editUser(id) {
    this.state.editingMode = true
    this.state.editingId = id
  }

  async mounted() {
    await this.state.fetchUsers()
  }
}
</script>


// v-bind="this.state.usersFormatted.find(({id}) => id === this.state.editingId )"